@model IEnumerable<DatabaseProject.Models.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Teams</h2>

<p>
    @Html.ActionLink("Add a Team", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeamID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeamID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeamID })
        </td>
    </tr>
}
</table>
<div>
    @Html.ActionLink("Back to Home Page", "Index","Home")
</div>