@model DatabaseProject.Models.Item

@{
    ViewBag.Title = "Delete";
}

<h2>Delete an Item</h2>

<h3>Are you sure you want to delete this Item?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Item ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemID)
        </dd>

        <dt>
            @Html.DisplayName("Event ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName("Start Bid")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Bid)
        </dd>

        <dt>
            @Html.DisplayName("Bid Increment")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bid_Increment)
        </dd>

        <dt>
            @Html.DisplayName("Won Bid Amount")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WonBidAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayName("Buy It Now Price")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyItNowPrice)
        </dd>

        <dt>
            @Html.DisplayName("Pay Time")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayTime)
        </dd>

        <dt>
            @Html.DisplayName("Pay Method")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayMethod)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Item List", "Index", "Item")
        </div>
    }
</div>
