@model IEnumerable<DatabaseProject.Models.Person>

@{
    ViewBag.Title = "People";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add a Person", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Person ID")
        </th>
        <th>
            @Html.DisplayName("First name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonID })
        </td>
    </tr>
}
</table>


<div>
    @Html.ActionLink("Back to Home Page", "Index", "Home")
</div>
